[client]
port=3306
socket=/tmp/mysql.sock
#default-character-set=utf8


[mysql]
no-auto-rehash
#default-character-set=utf8


[mysqld]
port=3306
#character-set-server=utf8
socket=/tmp/mysql.sock
basedir=/usr/local/mysql/
datadir=/usr/local/mysql/data/
user=mysql
explicit_defaults_for_timestamp=true
lower_case_table_names=1
back_log=103
max_connections=10000
max_connect_errors=100000
table_open_cache=512
external-locking=FALSE
max_allowed_packet=32M
sort_buffer_size=2M
join_buffer_size=2M
thread_cache_size=51
#query_cache_size=32M
#query_cache_limit=4M
transaction_isolation=REPEATABLE-READ
tmp_table_size=96M
max_heap_table_size=96M

#skip-grant-tables